@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div align="center">
	<table>
		<tr>
			<td align="right">
				<input align="right" type="text" list="browsers"/>
				<datalist id="browsers">
				<option>Google</option>
				<option>IE9</option>
				</datalist>
			</td>
		</tr>
	</table>
	<label align="right">1234567890</label>
</div>
<table align="center">
	<tr>
		<td width="16%"><button class="panellMRbuttons btn-MR">MC</button></td>
		<td width="16%"><button class="panellMRbuttons btn-MR">MR</button></td>
		<td width="16%"><button class="panellMRbuttons btn-MR">M+</button></td>
		<td width="16%"><button class="panellMRbuttons btn-MR">M-</button></td>
		<td width="16%"><button class="panellMRbuttons btn-MR">MS</button></td>
		<td width="16%"><button class="panellMRbuttons btn-MR">M</button></td>
	</tr>
</table>
<table align="center">
	<tr>
		<td width="25%"><button class="panell6buttons btn-6">%</button></td>
		<td width="25%"><button class="panell6buttons btn-6">CE</button></td>
		<td width="25%"><button class="panell6buttons btn-6">C</button></td>
		<td width="25%"><button class="panell6buttons btn-6">Bspase</button></td>
	</tr>
	<tr>
		<td width="25%"><button class="panell6buttons btn-6">History</button></td>
		<td width="25%"><button class="panell6buttons btn-6">x^2</button></td>
		<td width="25%"><button class="panell6buttons btn-6">sqrt</button></td>
		<td width="25%"><button class="panell6buttons btn-6">/</button></td>
	</tr>
	<tr>
		<td width="25%"><button class="panell4buttons btn-4">7</button></td>
		<td width="25%"><button class="panell4buttons btn-4">8</button></td>
		<td width="25%"><button class="panell4buttons btn-4">9</button></td>
		<td width="25%"><button class="panell6buttons btn-6">x</button></td>
	</tr>
	<tr>
		<td width="25%"><button class="panell4buttons btn-4">4</button></td>
		<td width="25%"><button class="panell4buttons btn-4">5</button></td>
		<td width="25%"><button class="panell4buttons btn-4">6</button></td>
		<td width="25%"><button class="panell6buttons btn-6">-</button></td>
	</tr>
	<tr>
		<td width="25%"><button class="panell4buttons btn-4">1</button></td>
		<td width="25%"><button class="panell4buttons btn-4">2</button></td>
		<td width="25%"><button class="panell4buttons btn-4">3</button></td>
		<td width="25%"><button class="panell6buttons btn-6">+</button></td>
	</tr>
	<tr>
		<td width="25%"><button class="panell4buttons btn-4">+/-</button></td>
		<td width="25%"><button class="panell4buttons btn-4">0</button></td>
		<td width="25%"><button class="panell4buttons btn-4">,</button></td>
		<td width="25%"><button class="panell6buttons btn-6">=</button></td>
	</tr>
</table>