@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div align="center">
	<label align="right">1234567890</label>
</div>
<table align="center">
	<tr>
		<td><button class="panellMRbuttons btn-MR">test</button></td>
		<td><button class="panellMRbuttons btn-MR">test</button></td>
		<td><button class="panellMRbuttons btn-MR">test</button></td>
		<td><button class="panellMRbuttons btn-MR">test</button></td>
		<td><button class="panellMRbuttons btn-MR">test</button></td>
		<td><button class="panellMRbuttons btn-MR">test</button></td>
	</tr>
</table>
<table align="center">
	<tr>
		<td><button class="panell6buttons btn-6">test</button></td>
		<td><button class="panell6buttons btn-6">test</button></td>
		<td><button class="panell6buttons btn-6">test</button></td>
		<td><button class="panell6buttons btn-6">test</button></td>
	</tr>
	<tr>
		<td><button class="panell6buttons btn-6">test</button></td>
		<td><button class="panell6buttons btn-6">test</button></td>
		<td><button class="panell6buttons btn-6">test</button></td>
		<td><button class="panell6buttons btn-6">test</button></td>
	</tr>
	<tr>
		<td><button class="panell4buttons btn-4">test</button></td>
		<td><button class="panell4buttons btn-4">test</button></td>
		<td><button class="panell4buttons btn-4">test</button></td>
		<td><button class="panell6buttons btn-6">test</button></td>
	</tr>
	<tr>
		<td><button class="panell4buttons btn-4">test</button></td>
		<td><button class="panell4buttons btn-4">test</button></td>
		<td><button class="panell4buttons btn-4">test</button></td>
		<td><button class="panell6buttons btn-6">test</button></td>
	</tr>
	<tr>
		<td><button class="panell4buttons btn-4">test</button></td>
		<td><button class="panell4buttons btn-4">test</button></td>
		<td><button class="panell4buttons btn-4">test</button></td>
		<td><button class="panell6buttons btn-6">test</button></td>
	</tr>
	<tr>
		<td><button class="panell4buttons btn-4">test</button></td>
		<td><button class="panell4buttons btn-4">test</button></td>
		<td><button class="panell4buttons btn-4">test</button></td>
		<td><button class="panell6buttons btn-6">test</button></td>
	</tr>
</table>